.blend-multiply {
	mix-blend-mode: multiply;
	/*background-blend-mode: multiply;*/
}
.blend-lighten {
	mix-blend-mode: lighten;
	/*background-blend-mode: lighten;*/
}
.blend-overlay {
	mix-blend-mode: overlay;
}
.blend-difference {
	mix-blend-mode: difference;
}